@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
  margin: 0;
  font-family: 'Righteous', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  caret-color: transparent;
}

:root {
  --primary-color: white;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.transparent {
  background: transparent !important;
}

.hidden {
  display: none !important;
}

.shown {
  display: initial imp !important;
}

.theme-btn-active {
  color: black !important;
  background-color: white !important;
}